/* ----- Base & Reset Styles ----- */

*,
*::before,
*::after {
  box-sizing: border-box; // Makes layout math much easier
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  color: $ink-700;
  background-color: $bg-light;
  -webkit-font-smoothing: antialiased; // Improves font rendering
  -moz-osx-font-smoothing: grayscale; // Improves font rendering
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}
.decorative-sphere-container {
  width: 100%;
  height: 0;
  position: relative;
  z-index: 5;
  
}

.decorative-sphere {
  position: absolute;
  top: 0;
  right: 2%;
  transform: translateY(-50%);
  width: 120px;
  opacity: 0.8;

}
.bot-icon {
    position: absolute;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
  }